@import url(https://fonts.googleapis.com/css?family=Space+Grotesk:300,400,500,600,700&display=swap);





body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 4.2rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.25rem;
}
.display-2 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.36rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.94rem;
    font-size: calc( 2.12rem + (4.2 - 2.12) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.12rem + (4.2 - 2.12) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #37a000 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #e4bf64 !important;
}
.bg-danger {
  background-color: #1d4354 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #37a000 !important;
  border-color: #37a000 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #194900 !important;
  border-color: #194900 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #194900 !important;
  border-color: #194900 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #025ea4 !important;
  border-color: #025ea4 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #012d4e !important;
  border-color: #012d4e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #012d4e !important;
  border-color: #012d4e !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #e4bf64 !important;
  border-color: #e4bf64 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #ce9c24 !important;
  border-color: #ce9c24 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ce9c24 !important;
  border-color: #ce9c24 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #1d4354 !important;
  border-color: #1d4354 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #071014 !important;
  border-color: #071014 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #071014 !important;
  border-color: #071014 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #37a000;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #194900 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #37a000 !important;
  border-color: #37a000 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #025ea4;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #012d4e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #025ea4 !important;
  border-color: #025ea4 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e4bf64;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ce9c24 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #e4bf64 !important;
  border-color: #e4bf64 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #1d4354;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #071014 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #1d4354 !important;
  border-color: #1d4354 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #37a000 !important;
}
.text-secondary {
  color: #025ea4 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #e4bf64 !important;
}
.text-danger {
  color: #1d4354 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #143a00 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #01243f !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #c09322 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #030708 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #37a000;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #e4bf64;
}
.alert-danger {
  background-color: #1d4354;
}
.mbr-gallery-filter li.active .btn {
  background-color: #37a000;
  border-color: #37a000;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #37a000;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #6dff21;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #82bbd4;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #37a000 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #37a000;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #37a000;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #37a000;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #37a000;
  border-bottom-color: #37a000;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #37a000 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #025ea4 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2337a000' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-soTZ2DKKPU {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/banner-bg-1366x560.png");
}
@media (max-width: 991px) {
  .cid-soTZ2DKKPU .mbr-section-title,
  .cid-soTZ2DKKPU .mbr-section-subtitle,
  .cid-soTZ2DKKPU .mbr-section-btn,
  .cid-soTZ2DKKPU .mbr-text {
    text-align: center;
  }
}
.cid-soTZ2DKKPU .mbr-section-title {
  text-align: center;
  color: #ffffff;
}
.cid-soTXtX0efQ {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/grid-bg-1366x523.png");
}
.cid-soTXtX0efQ .mbr-iconfont {
  display: block;
  font-size: 5rem;
  color: #37a000;
  margin-bottom: 2rem;
}
.cid-soTXtX0efQ .card-wrapper {
  padding: 3rem;
  background: #fafafa;
  border-radius: 4px;
}
@media (max-width: 992px) {
  .cid-soTXtX0efQ .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-soTXtX0efQ .card-wrapper {
    padding: 3rem 1rem;
  }
}
.cid-soTXtX0efQ .mbr-section-title {
  color: #1d4354;
}
.cid-soT9W8QFgA {
  z-index: 1000;
  width: 100%;
}
.cid-soT9W8QFgA nav.navbar {
  position: fixed;
}
.cid-soT9W8QFgA .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-soT9W8QFgA .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-soT9W8QFgA .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-soT9W8QFgA .dropdown-item:hover,
.cid-soT9W8QFgA .dropdown-item:focus {
  background: #37a000 !important;
  color: white !important;
}
.cid-soT9W8QFgA .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-soT9W8QFgA .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-soT9W8QFgA .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-soT9W8QFgA .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-soT9W8QFgA .nav-link {
  position: relative;
}
.cid-soT9W8QFgA .container {
  display: flex;
  margin: auto;
}
.cid-soT9W8QFgA .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-soT9W8QFgA .dropdown-menu,
.cid-soT9W8QFgA .navbar.opened {
  background: #ffffff !important;
}
.cid-soT9W8QFgA .nav-item:focus,
.cid-soT9W8QFgA .nav-link:focus {
  outline: none;
}
.cid-soT9W8QFgA .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-soT9W8QFgA .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-soT9W8QFgA .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-soT9W8QFgA .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-soT9W8QFgA .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-soT9W8QFgA .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-soT9W8QFgA .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: #ffffff;
}
.cid-soT9W8QFgA .navbar.opened {
  transition: all 0.3s;
}
.cid-soT9W8QFgA .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-soT9W8QFgA .navbar .navbar-logo img {
  width: auto;
}
.cid-soT9W8QFgA .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-soT9W8QFgA .navbar.collapsed {
  justify-content: center;
}
.cid-soT9W8QFgA .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-soT9W8QFgA .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-soT9W8QFgA .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.9rem);
  }
}
.cid-soT9W8QFgA .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-soT9W8QFgA .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-soT9W8QFgA .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-soT9W8QFgA .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-soT9W8QFgA .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-soT9W8QFgA .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-soT9W8QFgA .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-soT9W8QFgA .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-soT9W8QFgA .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-soT9W8QFgA .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-soT9W8QFgA .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-soT9W8QFgA .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-soT9W8QFgA .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-soT9W8QFgA .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-soT9W8QFgA .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-soT9W8QFgA .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-soT9W8QFgA .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-soT9W8QFgA .navbar.navbar-short {
  min-height: 60px;
}
.cid-soT9W8QFgA .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-soT9W8QFgA .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-soT9W8QFgA .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-soT9W8QFgA .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-soT9W8QFgA .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-soT9W8QFgA .dropdown-item.active,
.cid-soT9W8QFgA .dropdown-item:active {
  background-color: transparent;
}
.cid-soT9W8QFgA .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-soT9W8QFgA .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-soT9W8QFgA .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-soT9W8QFgA .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-soT9W8QFgA .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-soT9W8QFgA .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-soT9W8QFgA ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-soT9W8QFgA .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-soT9W8QFgA button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-soT9W8QFgA button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #6fda44;
}
.cid-soT9W8QFgA button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-soT9W8QFgA button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-soT9W8QFgA button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-soT9W8QFgA button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-soT9W8QFgA nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-soT9W8QFgA nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-soT9W8QFgA nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-soT9W8QFgA nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-soT9W8QFgA .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-soT9W8QFgA a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-soT9W8QFgA .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-soT9W8QFgA .navbar {
    height: 70px;
  }
  .cid-soT9W8QFgA .navbar.opened {
    height: auto;
  }
  .cid-soT9W8QFgA .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-soTXfPNi3h {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #f2f2f2;
}
.cid-soTXfPNi3h .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-soTXfPNi3h form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-soTXfPNi3h form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-soTXfPNi3h form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-soTXfPNi3h .mbr-section-title {
  color: #1d4354;
}
.cid-soUUeFD8Yx {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/strip-bg-1366x200.png");
}
.cid-soUUeFD8Yx .mbr-section-title {
  color: #ffffff;
}
.cid-soTwkENsIP {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #353535;
}
@media (max-width: 767px) {
  .cid-soTwkENsIP .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-soTwkENsIP .mbr-text {
  color: #767676;
}
.cid-soTwkENsIP .links {
  color: #f1fbec;
}
@media (max-width: 767px) {
  .cid-soTwkENsIP .links {
    text-align: center !important;
  }
}
@media (max-width: 767px) {
  .cid-soTwkENsIP .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-soTwkENsIP .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: 0.05;
}
.cid-soTwkENsIP .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-soTwkENsIP .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-soTwkENsIP .footer-lower .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-soTwkENsIP .footer-lower .social-list a {
  margin: 0;
  opacity: 0.5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-soTwkENsIP .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-soTwkENsIP .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-soT9W8QFgA {
  z-index: 1000;
  width: 100%;
}
.cid-soT9W8QFgA nav.navbar {
  position: fixed;
}
.cid-soT9W8QFgA .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-soT9W8QFgA .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-soT9W8QFgA .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-soT9W8QFgA .dropdown-item:hover,
.cid-soT9W8QFgA .dropdown-item:focus {
  background: #37a000 !important;
  color: white !important;
}
.cid-soT9W8QFgA .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-soT9W8QFgA .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-soT9W8QFgA .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-soT9W8QFgA .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-soT9W8QFgA .nav-link {
  position: relative;
}
.cid-soT9W8QFgA .container {
  display: flex;
  margin: auto;
}
.cid-soT9W8QFgA .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-soT9W8QFgA .dropdown-menu,
.cid-soT9W8QFgA .navbar.opened {
  background: #ffffff !important;
}
.cid-soT9W8QFgA .nav-item:focus,
.cid-soT9W8QFgA .nav-link:focus {
  outline: none;
}
.cid-soT9W8QFgA .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-soT9W8QFgA .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-soT9W8QFgA .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-soT9W8QFgA .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-soT9W8QFgA .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-soT9W8QFgA .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-soT9W8QFgA .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  position: absolute;
  background: #ffffff;
}
.cid-soT9W8QFgA .navbar.opened {
  transition: all 0.3s;
}
.cid-soT9W8QFgA .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-soT9W8QFgA .navbar .navbar-logo img {
  width: auto;
}
.cid-soT9W8QFgA .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-soT9W8QFgA .navbar.collapsed {
  justify-content: center;
}
.cid-soT9W8QFgA .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-soT9W8QFgA .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-soT9W8QFgA .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.9rem);
  }
}
.cid-soT9W8QFgA .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-soT9W8QFgA .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-soT9W8QFgA .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-soT9W8QFgA .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-soT9W8QFgA .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-soT9W8QFgA .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-soT9W8QFgA .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-soT9W8QFgA .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-soT9W8QFgA .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-soT9W8QFgA .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-soT9W8QFgA .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-soT9W8QFgA .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-soT9W8QFgA .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-soT9W8QFgA .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-soT9W8QFgA .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-soT9W8QFgA .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-soT9W8QFgA .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-soT9W8QFgA .navbar.navbar-short {
  min-height: 60px;
}
.cid-soT9W8QFgA .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-soT9W8QFgA .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-soT9W8QFgA .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-soT9W8QFgA .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-soT9W8QFgA .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-soT9W8QFgA .dropdown-item.active,
.cid-soT9W8QFgA .dropdown-item:active {
  background-color: transparent;
}
.cid-soT9W8QFgA .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-soT9W8QFgA .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-soT9W8QFgA .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-soT9W8QFgA .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-soT9W8QFgA .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-soT9W8QFgA .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-soT9W8QFgA ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-soT9W8QFgA .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-soT9W8QFgA button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-soT9W8QFgA button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #6fda44;
}
.cid-soT9W8QFgA button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-soT9W8QFgA button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-soT9W8QFgA button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-soT9W8QFgA button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-soT9W8QFgA nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-soT9W8QFgA nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-soT9W8QFgA nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-soT9W8QFgA nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-soT9W8QFgA .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-soT9W8QFgA a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-soT9W8QFgA .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-soT9W8QFgA .navbar {
    height: 70px;
  }
  .cid-soT9W8QFgA .navbar.opened {
    height: auto;
  }
  .cid-soT9W8QFgA .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-soUqt2wn4U {
  padding-top: 10rem;
  padding-bottom: 4rem;
  background-image: url("../../../assets/images/miyio-background-1921x1080.jpg");
}
.cid-soUqt2wn4U .mbr-section-title {
  color: #6fda44;
}
.cid-soUncXQb9r {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-soUncXQb9r .mbr-section-title {
  color: #1d4354;
}
.cid-soUmFOLFiG {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-soUmFOLFiG .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-soUmFOLFiG .row {
  flex-direction: row-reverse;
}
.cid-soUmFOLFiG img {
  width: 100%;
}
.cid-soUvDOZuRC {
  padding-top: 6rem;
  padding-bottom: 4rem;
  background-image: url("../../../assets/images/grid-bg-1366x523.png");
}
.cid-soUvDOZuRC .video-wrapper iframe {
  width: 100%;
}
.cid-soUvDOZuRC .mbr-section-title,
.cid-soUvDOZuRC .mbr-section-subtitle,
.cid-soUvDOZuRC .mbr-text {
  text-align: center;
}
.cid-soUvDOZuRC .mbr-section-title {
  color: #1d4354;
}
.cid-soTb8hOXAo {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soTb8hOXAo img,
.cid-soTb8hOXAo .item-img {
  width: 100%;
}
.cid-soTb8hOXAo .item:focus,
.cid-soTb8hOXAo span:focus {
  outline: none;
}
.cid-soTb8hOXAo .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-soTb8hOXAo .item-wrapper {
  position: relative;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-soTb8hOXAo .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-soTb8hOXAo .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-soTb8hOXAo .mbr-section-btn {
  margin-top: auto !important;
}
.cid-soTb8hOXAo .mbr-section-title {
  color: #1d4354;
}
.cid-soTb8hOXAo .mbr-text,
.cid-soTb8hOXAo .mbr-section-btn {
  text-align: left;
}
.cid-soTb8hOXAo .item-title {
  text-align: left;
  color: #37a000;
}
.cid-soTb8hOXAo .item-subtitle {
  text-align: center;
}
.cid-soThksr4SR {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/categories-bg-1366x560.png");
}
.cid-soThksr4SR .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-soThksr4SR .icon-box {
  background: #f2f2f2;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-soThksr4SR .mbr-iconfont {
  font-size: 2rem;
  color: #727272;
}
@media (max-width: 991px) {
  .cid-soThksr4SR .card {
    margin-bottom: 2rem;
  }
  .cid-soThksr4SR .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-soThksr4SR .icon-title {
  color: #6fda44;
}
.cid-soThksr4SR .icon-text {
  color: #ffffff;
}
.cid-soThksr4SR .card-title,
.cid-soThksr4SR .card-box {
  color: #6fda44;
  text-align: center;
}
.cid-soTjzQ4IjX {
  padding-top: 90px;
  padding-bottom: 45px;
  background-color: #d4f4c7;
}
.cid-soTjzQ4IjX .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-soTjzQ4IjX .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #ffffff;
  margin-left: 2rem;
}
.cid-soTjzQ4IjX .timeline-text-content p {
  margin-bottom: 0;
}
.cid-soTjzQ4IjX .time-line-date-content {
  margin-right: 2rem;
}
.cid-soTjzQ4IjX .time-line-date-content p {
  padding: 2rem 2.5rem;
  background: #ffffff;
  float: right;
}
.cid-soTjzQ4IjX .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-soTjzQ4IjX .timeline-element:hover .mbr-timeline-date {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-soTjzQ4IjX .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-soTjzQ4IjX .mbr-timeline-date,
.cid-soTjzQ4IjX .timeline-text-content {
  transition: all .4s;
}
.cid-soTjzQ4IjX .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-soTjzQ4IjX .reverse .timeline-text-content {
  margin-right: 2rem;
  margin-left: 0;
}
.cid-soTjzQ4IjX .reverse .time-line-date-content {
  margin-left: 2rem;
  margin-right: 0rem;
}
.cid-soTjzQ4IjX .reverse .time-line-date-content p {
  float: left;
}
.cid-soTjzQ4IjX .iconBackground {
  position: absolute;
  left: 50%;
  width: 20px;
  height: 20px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  display: inline-block;
  background-color: #ffffff;
  top: 20px;
  margin-left: -10px;
}
.cid-soTjzQ4IjX .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #ffffff;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-soTjzQ4IjX .iconBackground {
    left: 0 !important;
  }
  .cid-soTjzQ4IjX .separline:before {
    left: 0 !important;
  }
  .cid-soTjzQ4IjX .timeline-text-content {
    margin-left: 0 !important;
  }
  .cid-soTjzQ4IjX .time-line-date-content {
    margin-right: 0 !important;
  }
  .cid-soTjzQ4IjX .time-line-date-content p {
    float: left !important;
  }
  .cid-soTjzQ4IjX .reverse .time-line-date-content {
    margin-left: 0 !important;
  }
  .cid-soTjzQ4IjX .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-soTjzQ4IjX .reverseTimeline {
  display: flex;
  flex-direction: column-reverse;
}
.cid-soTjzQ4IjX .mbr-timeline-title {
  color: #37a000;
}
.cid-soTjzQ4IjX .mbr-timeline-date {
  color: #1d4354;
}
.cid-soTjzQ4IjX .mbr-section-title {
  color: #1d4354;
}
.cid-soTjzQ4IjX .mbr-timeline-text {
  color: #353535;
}
.cid-soTlIAKUXU {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #f2f2f2;
}
.cid-soTlIAKUXU .mbr-section-title {
  color: #1d4354;
}
.cid-soTlIAKUXU .mbr-section-title P {
  text-align: left;
}
.cid-soTlE1Pk06 {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #f2f2f2;
}
.cid-soTlE1Pk06 .mbr-text {
  color: #767676;
}
.cid-soTlE1Pk06 .mbr-section-subtitle {
  color: #767676;
}
.cid-soTlE1Pk06 .title .num {
  width: 100%;
  display: block;
  font-size: 4.1rem;
}
.cid-soTlE1Pk06 .title .card-title {
  z-index: 1;
}
.cid-soTlE1Pk06 .num {
  color: #37a000;
}
@media (max-width: 767px) {
  .cid-soTlE1Pk06 * {
    text-align: center !important;
  }
  .cid-soTlE1Pk06 .content-column {
    margin-bottom: 2rem;
  }
}
.cid-soTlE1Pk06 .card-title,
.cid-soTlE1Pk06 .card-img {
  color: #1d4354;
}
.cid-soTlE1Pk06 .mbr-section-title,
.cid-soTlE1Pk06 .card-box {
  color: #1d4354;
}
.cid-soTlE1Pk06 .card-text {
  color: #353535;
}
.cid-soTpnl1lTZ {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #f2f2f2;
}
.cid-soTpnl1lTZ .mbr-section-title {
  text-align: left;
  color: #1d4354;
}
.cid-soTnqKjtBa {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #f2f2f2;
}
.cid-soTnqKjtBa h4 {
  text-align: left;
  font-weight: 500;
}
.cid-soTnqKjtBa p {
  color: #767676;
  text-align: left;
  margin-bottom: 0;
}
.cid-soTnqKjtBa .card-img {
  text-align: left;
  background-color: #ffffff;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 3rem 2.5rem 0 2.5rem;
}
.cid-soTnqKjtBa .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-soTnqKjtBa .card-box {
  padding: 0rem 2.5rem 3rem 2.5rem;
  background-color: #ffffff;
}
.cid-soTnqKjtBa .card-title,
.cid-soTnqKjtBa .card-img {
  color: #1d4354;
}
.cid-soTnwWirKZ {
  padding-top: 0px;
  padding-bottom: 60px;
  background-color: #f2f2f2;
}
.cid-soTnwWirKZ h4 {
  text-align: left;
  font-weight: 500;
}
.cid-soTnwWirKZ p {
  color: #767676;
  text-align: left;
  margin-bottom: 0;
}
.cid-soTnwWirKZ .card-img {
  text-align: left;
  background-color: #ffffff;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 3rem 2.5rem 0 2.5rem;
}
.cid-soTnwWirKZ .card-img span {
  font-size: 72px;
  color: #707070;
}
.cid-soTnwWirKZ .card-box {
  padding: 0rem 2.5rem 3rem 2.5rem;
  background-color: #ffffff;
}
.cid-soTnwWirKZ .card-title,
.cid-soTnwWirKZ .card-img {
  color: #1d4354;
}
.cid-soTr3CgjmD {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f2f2f2;
}
.cid-soTr3CgjmD .item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.cid-soTr3CgjmD .item:last-child .icon-box:before {
  display: none;
}
.cid-soTr3CgjmD .item.last .icon-box:before {
  display: none;
}
.cid-soTr3CgjmD .icon-box {
  background: #1d4354;
  width: 60px;
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 768px) {
  .cid-soTr3CgjmD .icon-box {
    margin-right: 1rem;
  }
}
.cid-soTr3CgjmD .icon-box::before {
  content: "\e925";
  font-family: Moririse2 !important;
  position: absolute;
  font-size: 40px;
  left: 50%;
  top: 150%;
  top: 100%;
  color: #1d4354;
  transform: translate(-50%, 0);
}
.cid-soTr3CgjmD span {
  font-size: 2rem;
  color: #ffffff;
}
@media (max-width: 991px) {
  .cid-soTr3CgjmD .card {
    margin-bottom: 2rem;
  }
  .cid-soTr3CgjmD .card-wrapper {
    margin-bottom: 2rem;
  }
  .cid-soTr3CgjmD .icon-box::before {
    top: 141%;
    top: 123%;
  }
}
@media (max-width: 768px) {
  .cid-soTr3CgjmD .icon-box::before {
    top: 114%;
  }
}
.cid-soTr3CgjmD .card-title,
.cid-soTr3CgjmD .card-box {
  text-align: left;
  color: #1d4354;
}
.cid-soTr3CgjmD .icon-title {
  color: #37a000;
}
.cid-soTuEZfKFe {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #d4f4c7;
}
.cid-soTuEZfKFe .mbr-section-title {
  color: #1d4354;
  text-align: center;
}
.cid-soTqKJd3NQ {
  padding-top: 1rem;
  padding-bottom: 5rem;
  background: #d4f4c7;
}
.cid-soTqKJd3NQ .list-group-item {
  background-color: transparent;
  padding: .5rem 3.25rem;
}
.cid-soTqKJd3NQ .plan-body {
  padding-bottom: 2rem;
}
.cid-soTqKJd3NQ .plan-header {
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-soTqKJd3NQ .price {
  color: #37a000;
  text-align: center;
}
.cid-soTqKJd3NQ .plan {
  word-break: break-word;
  background-color: #ffffff;
}
.cid-soTqKJd3NQ .plan .list-group-item {
  position: relative;
  justify-content: center;
  border: 0;
}
.cid-soTqKJd3NQ .plan .list-group-item::after {
  position: absolute;
  bottom: 1px;
  left: 25%;
  width: 50%;
  height: 1px;
  content: "";
  background-color: rgba(0, 0, 0, 0.1);
}
.cid-soTqKJd3NQ .plan .list-group-item:last-child::after {
  display: none;
}
@media (max-width: 991px) {
  .cid-soTqKJd3NQ .plan {
    margin-bottom: 2rem;
  }
}
.cid-soTqKJd3NQ .plan-title {
  color: #37a000;
  text-align: center;
}
.cid-soTqKJd3NQ .price-term {
  color: #353535;
  text-align: center;
}
.cid-soUQ1JMB1a {
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-image: url("../../../assets/images/strip-bg-1366x200.png");
}
.cid-soUQ1JMB1a .mbr-section-title {
  color: #ffffff;
}
.cid-soTwkENsIP {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #353535;
}
@media (max-width: 767px) {
  .cid-soTwkENsIP .media-wrap {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-soTwkENsIP .mbr-text {
  color: #767676;
}
.cid-soTwkENsIP .links {
  color: #f1fbec;
}
@media (max-width: 767px) {
  .cid-soTwkENsIP .links {
    text-align: center !important;
  }
}
@media (max-width: 767px) {
  .cid-soTwkENsIP .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-soTwkENsIP .footer-lower hr {
  margin: 1rem 0;
  border-color: #000;
  opacity: 0.05;
}
.cid-soTwkENsIP .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-soTwkENsIP .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #232323;
}
.cid-soTwkENsIP .footer-lower .social-list .soc-item {
  margin: 0 0.5rem;
}
.cid-soTwkENsIP .footer-lower .social-list a {
  margin: 0;
  opacity: 0.5;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}
.cid-soTwkENsIP .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-soTwkENsIP .footer-lower .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
